@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');

/* base styles */

* {
  margin: 0;
  font-family: "Teko";
  text-shadow: 5px 5px 10px black;
  scrollbar-width: none;
}

body{
  width: 100%;
  height: fit-content;
  background-color: #1e1b1b;
  margin-bottom: 2rem;
}